.idea/
.env

# Backend
backend/.venv/
backend/*.egg-info/
backend/**/__pycache__/
backend/**/*.py[oc]
backend/.mypy_cache/
backend/.pytest_cache/
backend/.ruff_cache/
backend/dist/

# Frontend
frontend/dist/
frontend/node_modules/
frontend/.eslintcache
