<h2 class="card-title uppercase opacity-50">Expériences</h2>

<ul class="timeline timeline-vertical timeline-compact">
  {% for exp in resume.experiences %}
    <li class="mb-4 last:mb-0 break-inside-avoid-page">
      <hr/>
      {# ******************************************************************** #}
      <div class="timeline-start text-left flex flex-col gap-1 pl-2">
        <div class="text-lg font-semibold">
          {{ exp.company }}
        </div>
        <div class="flex items-center gap-2 font-semibold">
          <i class="bi bi-briefcase text-xs"></i>
          {{ exp.role }}
        </div>
        <div class="flex items-center gap-2 text-xs text-base-content/50">
          <i class="bi bi-calendar-event"></i>
          {{ exp.period }}
        </div>
      </div>
      {# ******************************************************************** #}
      <div class="timeline-middle">
        <i class="bi bi-circle-fill text-secondary"></i>
      </div>
      {# ******************************************************************** #}
      <div class="timeline-end w-full flex flex-col gap-2">
        {% for project in exp.projects %}
          <div class="card bg-base-100 shadow">
            <div class="card-body p-2 md:p-4">
              {% include "resume/card_project.html" %}
            </div>
          </div>
        {% endfor %}
      </div>
      {# ******************************************************************** #}
      <hr/>
    </li>
  {% endfor %}
</ul>
