<div class="flex flex-col gap-4">

  <div class="flex justify-between items-center">
    {# name #}
    <h1 class="text-2xl font-extrabold text-base-content">
      {{ resume.metadata.contact.full_name }}
    </h1>

    {#  status #}
    {% if format == "html" and resume.metadata.contact.available %}
      <div class="flex items-center gap-2">
        <div class="status status-success status-lg"></div>
        <div class="badge badge-sm badge-success badge-outline hidden sm:inline font-semibold uppercase tracking-wider">
          Disponible
        </div>
      </div>
    {% endif %}
  </div>

  {# job title #}
  <div class="flex items-center gap-3 text-xl font-semibold text-base-content/80">
    <i class="bi bi-laptop text-secondary"></i>
    <div>
      {{ resume.metadata.contact.job_title }}
    </div>
  </div>

  {# location #}
  <div class="flex items-center gap-3 text-base font-normal text-base-content/60">
    <i class="bi bi-geo-alt text-secondary"></i>
    <div>
      {{ resume.metadata.contact.location }} · {{ resume.metadata.contact.remote }}
    </div>
  </div>

  {# links #}
  {% if format == "html" %}

    <div class="flex gap-6">
      <a
        href="mailto:{{ resume.metadata.contact.email }}"
        class="btn btn-circle btn-soft"
      >
        <i class="bi bi-envelope text-secondary"></i>
      </a>
      <a
        href="https://github.com/{{ resume.metadata.contact.github_username }}"
        target="_blank"
        class="btn btn-circle btn-soft"
      >
        <i class="bi bi-github text-secondary"></i>
      </a>
      <a
        href="https://www.linkedin.com/in/{{ resume.metadata.contact.linkedin_username }}"
        target="_blank"
        class="btn btn-circle btn-soft"
      >
        <i class="bi bi-linkedin text-secondary"></i>
      </a>
    </div>

  {% elif format == "pdf" %}

    <div class="flex flex-col gap-4 text-sm font-medium text-base-content/60">
      <a
        class="flex items-center gap-3"
        href="mailto:{{ resume.metadata.contact.email }}"
      >
        <i class="bi bi-envelope"></i>
        {{ resume.metadata.contact.email }}
      </a>
      <a
        class="flex items-center gap-3"
        href="https://www.linkedin.com/in/{{ resume.metadata.contact.linkedin_username }}"
      >
        <i class="bi bi-linkedin"></i>
        <span>linkedin.com/in/{{ resume.metadata.contact.linkedin_username }}</span>
      </a>
      <a
        class="flex items-center gap-3"
        href="https://github.com/{{ resume.metadata.contact.github_username }}"
      >
        <i class="bi bi-github"></i>
        <span>github.com/{{ resume.metadata.contact.github_username }}</span>
      </a>
    </div>

  {% endif %}
</div>
