<h2 class="card-title uppercase opacity-50">Expérience</h2>

{% for exp in resume.experiences %}

  <div class="flex justify-between items-baseline">
    <span class="text-lg font-semibold">{{ exp.company }}</span>
    <span class="text-xs text-base-content/50">{{ exp.start_date }} — {{ exp.end_date or '' }}</span>
  </div>

  <div class="font-semibold">{{ exp.role }}</div>

  {% for project in exp.projects %}
    <div class="card">
      <div class="card-body p-2 md:p-4">
        {% include "_card_project.html" %}
      </div>
    </div>
  {% endfor %}

{% endfor %}
