<div class="flex flex-col gap-4">

  <div class="flex justify-between items-center">
    {# name #}
    <h1 class="text-2xl font-extrabold text-base-content">
      {{ resume.metadata.contact.full_name }}
    </h1>
  </div>

  {# job title #}
  <div class="flex items-center gap-3 text-xl font-semibold text-base-content/80">
    <div>
      {{ resume.metadata.contact.job_title }}
    </div>
  </div>

  {# location #}
  <div class="flex items-center gap-3 text-base font-normal text-base-content/60">
    <i class="bi bi-geo-alt"></i>
    <div>
      {{ resume.metadata.contact.location }} · {{ resume.metadata.contact.remote }}
    </div>
  </div>

  <div class="flex items-center gap-3 text-sm font-medium text-base-content/60">
    <i class="bi bi-envelope"></i>
    {{ resume.metadata.contact.email }}
  </div>

  <div class="flex items-center gap-3 text-sm font-medium text-base-content/60">
    <i class="bi bi-github"></i>
    github.com/{{ resume.metadata.contact.github_username }}
  </div>
</div>
