<main class="max-w-4xl mx-auto flex flex-col gap-2 md:gap-4 px-3 py-4">

  <div class="card bg-base-200 shadow">
    <div class="card-body p-3">
      {% include "_card_infos.html" %}
    </div>
  </div>

  <div class="card bg-base-200 shadow">
    <div class="card-body p-3">
      {% include "_card_skills.html" %}
    </div>
  </div>

  <div class="card bg-base-200 shadow">
    <div class="card-body p-3">
      {% include "_card_experiences.html" %}
    </div>
  </div>

  <div class="card bg-base-200 shadow">
    <div class="card-body p-3">
      {% include "_card_education.html" %}
    </div>
  </div>

  <div class="card bg-base-200 shadow">
    <div class="card-body p-3">
      {% include "_card_languages.html" %}
    </div>
  </div>

</main>
