<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>

  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', path='favicon/apple-touch-icon.png') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', path='favicon/favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', path='favicon/favicon-16x16.png') }}">

  <link href="{{ url_for('static', path='css/main.css') }}" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css"/>

  {# Set the theme value before everything #}
  <script src="{{ url_for('static', path='js/init-theme.js') }}"></script>
  {# Synchronous #}
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  {# Defer #}
  <script defer src="{{ url_for('static', path='js/skills.js') }}"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.15.11/dist/cdn.min.js"></script>
  {# Asynchronous #}
  <script async src="{{ url_for('static', path='js/main.js') }}"></script>
</head>

<body class="bg-base-100 min-h-screen">

{% block content %}{% endblock %}
<div class="toast toast-end z-9999" id="toastContainer"></div>

</body>

</html>
