<div class="navbar bg-base-100 shadow-sm sticky top-0 z-50">

  <div class="flex-1">
    <a class="btn btn-primary gap-3" href="{{ url_for('home') }}">
      <i class="bi bi-arrow-return-left text-lg"></i>
      <span class="text-xs font-semibold uppercase tracking-wider">Resume</span>
    </a>
    <a class="btn btn-accent gap-3" href="{{ url_for('home_admin') }}">
      <span class="text-xs font-semibold uppercase tracking-wider">Admin</span>
    </a>
    <form action="/auth/logout" method="post" class="inline">
      <button type="submit" class="btn btn-error text-xs font-semibold uppercase tracking-wider">Logout</button>
    </form>
  </div>

  <div class="flex-none px-2">
    {% include "swap_theme.html" %}
  </div>

</div>
